<?xml version="1.0"?>

<!-- sim_odometry.launch
Launch tractor localization packages
Requires packages found at https://github.com/olinrobotics/tractor_sim_packages

Theoretically "perfect" odometry - uses current gazebo position and orientation
as odometry
-->

<launch>
  <include file="$(find sim_odom)/launch/start_odom.launch"/>
  <include file="$(find sim_localization)/launch/bringup.launch"/>
</launch>
